[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
requests = "*"
raven = "*"
meinheld = "*"
gunicorn = "*"
django = "*"
graphene = "*"
graphene-django = "*"
django-annoying = "*"

[dev-packages]
ipython = "*"
nose = "*"

[requires]
python_version = "3.6"
